
.chart{ style: "position: relative; width: 100%; height: 400px; padding: 3em 1em;" }

  - canvas_id = "canvas_#{chart_data[:name]}"
  %canvas{ id: canvas_id, style: "width: 100%; height: 100%;" }

  :javascript
    (function(){
      const data = #{chart_data[:data].to_json};

      // Extracting labels and values from the data
      const labels = data.map(item => item[0]);
      const values = data.map(item => item[1]);

      // Get the canvas element and create a 2d context
      const ctx = document.getElementById('#{canvas_id}').getContext('2d');

      // Create a line chart
      const myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: '#{chart_data[:title]}',
            data: values,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            fill: false,
            pointRadius: 0,
            hoverPointRadius: 3,
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            x: {
              type: 'time',
              time: { unit: 'day' },
              // title: { display: true, text: 'Date' }
            },
            y: {
              // title: { display: true, text: 'Value' }
            }
          }
        }
      });
    })();
