=render 'radio_filter_multi_links', param: :kind, values: SiteCommon::KIND_VALS
=render 'radio_filter_links', key: :private, a: 'private', b: 'public'
=render 'radio_filter_links', key: :hub, a: 'hub', b: 'non-hub'
