=render 'radio_filter_links', key: :private, a: 'private', b: 'public'
=render 'radio_filter_links', key: :hub, a: 'hub', b: 'non-hub'
=render 'radio_filter_links', key: :compressed, a: 'compressed', b: 'uncompressed'
