
%div{style: "margin-bottom: 2em;"}
  %ul.nav.nav-tabs
    =tab_link_to('Stats', action: :index)
    =tab_link_to('Users', action: :users)
    =tab_link_to('Sites', action: :sites)
    -if Settings.tiddlyspot_enabled?
      =tab_link_to('Tspot Sites', action: :tspot_sites, no_stub: '1')
