.group Filter:
=render 'radio_filter_links', key: :exists, a: 'existing', b: 'phantom'
=render 'radio_filter_links', key: :owned, a: 'owned', b: 'unowned'
=render 'radio_filter_links', key: :saved, a: 'saved', b: 'unsaved'
