=render 'radio_filter_links', key: :exists, a: 'existing', b: 'phantom'
=render 'radio_filter_links', key: :owned, a: 'owned', b: 'unowned'
=render 'radio_filter_links', key: :saved, a: 'saved', b: 'unsaved'
=render 'radio_filter_links', key: :private, a: 'private', b: 'public'
=render 'radio_filter_links', key: :hub, a: 'hub', b: 'non-hub'
=render 'radio_filter_links', key: :no_stub, a: 'non-stub', b: 'stub'
