
%h2= @title

%table.dataTable.display.responsive.nowrap
  %thead
    %tr
      %th Id
      %th Name
      %th Email
      %th Plan
      %th Sites
      %th.default-sort Current sign in
      %th Last sign in
      %th Created
  %tbody
    -@users.each do |u|
      %tr
        =datatable_sort_by(u.id)
        %td= u.name
        %td= u.email
        %td= u.plan.name
        =datatable_sort_by(u.sites.count, link_to_user_sites(pluralize(u.sites.count, 'site'), u))
        =datatable_timestamp(u.current_sign_in_at)
        =datatable_timestamp(u.last_sign_in_at)
        =datatable_timestamp(u.created_at)
