
%h1
  -if @tag.present?
    =bi_icon('tag') + @tag
  -elsif @user.present?
    -if @user.use_gravatar?
      =gravatar_image(@user, size: 35) + @user.name
    -else
      =bi_icon('person-fill') + @user.name
  -else
    Tiddlyhost Hub

%p.text-muted{style: 'font-size: 95%'}
  -if @tag.present?
    Sites tagged with
    %b= @tag + '.'
  -elsif @user.present?
    Sites created by Tiddlyhost user
    %b= @user.username + '.'

%div{style: "margin-bottom: 2em;"}
  %ul.nav.nav-tabs
    =hub_link_to('All sites', hub_all_url)
    -@tag_tabs.each do |tag|
      =hub_tag_link_to(tag)

.page_info.text-muted
  =page_entries_info(@sites, model: Site)
  ="tagged with #{@tag}" if @tag.present?
  ="matching '#{search_text}'" if search_text

  %span.sort-by
    Sort by:
    =link_to(sort_opt[:title], "#", class: 'dropdown-toggle', role: 'button', 'data-bs-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false')
    .dropdown-menu.hub-menu{'aria-labelledby': 'dropdownMenuLink'}
      -sort_options.keys.each do |k|
        =simple_sort_link k

  =render 'shared/search_box'

.hub
  -@sites.each do |site|
    =render 'site_tile', site: site, mode: 'hub'

=will_paginate(@sites)
