=render 'salutation'

%p
  You can set a new Tiddlyhost account password by clicking 'Change password' below.

=render 'button_link', link_text: 'Change password', link_url: edit_password_url(@resource, reset_password_token: @token)

=render 'show_email'

%p.pt-4
  %small
    If you didn't request a password reset please ignore this email.

%p.pt-5
  %small.text-gray-600
    You received this email because you or someone else submitted the
    =link_to 'Forgot password?', "#{Settings.main_site_url}/users/password/new", target: "_blank"
    form using this email address.
