# These volume mounts used when running containers can be ignored when building
# (Todo maybe: put them in their own directory so we can use a wildcard here)
docker/bundle
docker/config
docker/dotcache
docker/letsencrypt
docker/log
docker/nginx-conf
docker/postgresql-data
docker/secrets

# Rails stuff that should not be copied into the prod container
rails/node_modules/*
rails/tmp/*
rails/log/*
rails/storage/*
rails/test/*
rails/public/packs-test/*
rails/vendor/*
rails/config/master.key
rails/config/credentials.yml.enc
backups/
