rails/vendor
rails/tmp
rails/log
rails/storage
rails/tw_content/empties/prerelease.html
rails/node_modules/
rails/public/assets/
rails/public/packs/
rails/public/packs-test/
rails/public/jsMath/
rails/public/build-info.txt
rails/config/master.key
rails/config/credentials.yml.enc
rails/config/credentials/development.key
rails/config/credentials/development.yml.enc
rails/.byebug_history
docker/certs
docker/nginx-conf-local
docker/nginx-conf-prod
docker/postgresql-data
docker/log
etc/certbot-dns-user-credentials.yml
etc/docker-conf/
etc/openrc.sh
jsMath*.zip
