rails/vendor
rails/tmp
rails/log
rails/storage
rails/storage1
rails/storage2
rails/tw_content/empties/prerelease.html
rails/public/assets/
rails/public/tiddlywikicore-*-prerelease.js
rails/public/tiddlywikicore-*.gz
rails/public/packs/
rails/public/packs-test/
rails/public/jsMath/
rails/public/build-info.txt
rails/config/master.key
rails/config/credentials.yml.enc
rails/config/credentials/development.key
rails/config/credentials/development.yml.enc
rails/.byebug_history
rails/coverage
docker/letsencrypt
docker/nginx-conf
docker/postgresql-data
docker/log
docker/secrets
docker/config
docker/bundle
docker/node_modules
docker/dotcache
etc/
*.log
