rails/vendor
rails/tmp
rails/log
rails/storage
rails/empties
rails/node_modules/
rails/public/packs/
rails/public/packs-test/
rails/config/master.key
.postgresql-data
certs
etc/build-info.txt
etc/certbot-dns-user-credentials.yml
backups
