services:
  web:
    image: nginx
    container_name: th_web
    restart: always
    depends_on:
    - app
    ports:
    - "80:80"
    - "443:443"
    volumes:
    - ./docker/letsencrypt:/etc/letsencrypt:z
    - ./docker/nginx-conf/nginx.conf:/etc/nginx/nginx.conf:z
    - ./docker/nginx-conf/server-common.conf:/etc/nginx/server-common.conf:z
    - ./docker/nginx-html:/opt/nginx-html:z
    - rails-static:/opt/rails-static

  app:
    image: docker.io/sbaird/tiddlyhost:latest
    container_name: th_app
    restart: always
    depends_on:
    - db
    - cache

    volumes:
    - ./docker/log:/var/log/app:z
    - ./docker/secrets/master.key:/opt/app/config/master.key:z,ro
    - ./docker/secrets/credentials.yml.enc:/opt/app/config/credentials.yml.enc:z,ro
    - ./docker/config/settings_local.yml:/opt/app/config/settings_local.yml:z,ro
    - ./docker/config/prerelease.html:/opt/app/tw_content/empties/prerelease.html:z
    - rails-static:/opt/app/public

    security_opt:
    # Todo: Figure out what syscalls chrome sandbox really needs
    # and use an appropriate policy
    - "seccomp:unconfined"

    build:
      context: .
      dockerfile: docker/Dockerfile.prod

  jobs:
    image: docker.io/sbaird/tiddlyhost:latest
    container_name: th_jobs
    restart: always
    depends_on:
    - db
    - cache

    volumes:
    - ./docker/log:/var/log/app:z
    - ./docker/secrets/master.key:/opt/app/config/master.key:z,ro
    - ./docker/secrets/credentials.yml.enc:/opt/app/config/credentials.yml.enc:z,ro
    - ./docker/config/settings_local.yml:/opt/app/config/settings_local.yml:z,ro

    command: /bin/start-delayed-job.sh

    security_opt:
    # Todo: Figure out what syscalls chrome sandbox really needs
    # and use an appropriate policy
    - "seccomp:unconfined"

  cache:
    image: memcached
    container_name: th_cache
    command: memcached -I 8M

  db:
    image: postgres:18
    container_name: th_db
    restart: always
    environment:
      # Relevant only when the container finds no existing database.
      # If you are initializing a new db then change the password
      # after the db is created, or modify this temporarily before
      # starting it for the first time.
      POSTGRES_PASSWORD: postgres
    volumes:
    - ./docker/postgresql-data/data16:/var/lib/postgresql/data:Z

volumes:
  # Share rails public with nginx so it can serve static files directly
  rails-static:
    name: th_rails_static
