#!/bin/bash
# chkconfig: 2345 20 80
# description: Tiddlyhost

START_DIR={{ home_dir }}

start() {
    docker compose up --detach
}

stop() {
    # The --volumes option is so that the rails-static volume is removed on
    # shutdown. It will be recreated again on startup which is what we want.
    docker compose down --volumes
}

cd $START_DIR

case "$1" in
    start)
        start
        ;;

    stop)
        stop
        ;;

    # Todo: I suspect this is not needed for systemd
    restart)
        stop
        start
        ;;

esac

exit 0
