
<nav class="navbar navbar-expand-sm navbar-dark">

  <a class="navbar-brand" href="/"><b>Tiddlyhost</b></a>

  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= nav_link_to "Logout (#{current_user.email})", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= nav_link_to "Login", new_user_session_path %>
        <%= nav_link_to "Sign up", new_user_registration_path %>
      <% end %>
    </ul>
  </div>

</nav>
