
%li.dropdown-item-text{style: 'color: #6c757d; white-space: nowrap; font-size: 80%;'}
  Signed in as
  %br
  %b
    -if current_user.use_gravatar?
      =gravatar_image(current_user, size: 14, style: 'border-radius: 50%; margin-top: -2px;')
    -else
      =bi_icon('person-fill', fill: '#bbb', style: 'margin-right: -2px;')
    =current_user.username_or_email

%li.dropdown-divider

%li
  =link_to sites_path, class: 'dropdown-item' do
    =bi_icon('sliders')
    Manage sites

%li
  =link_to edit_user_registration_path, class: 'dropdown-item' do
    =bi_icon('file-earmark-person')
    Manage account

%li.dropdown-divider

%li
  =link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
    =bi_icon('box-arrow-left')
    Log out
