%html
  %head
    =stylesheet_link_tag 'application', media: 'all'
    =favicon_link_tag asset_path('favicon-tiddlyspot.ico')

    %style{type: 'text/css'}
      body { margin: 5em auto; max-width: 43em; }
      p { padding-bottom: 0.6em; }

  %body.bg-light
    %p
      =link_to Settings.tiddlyspot_url do
        =image_tag 'tiddlyspot-banner-logo.png', title: 'Tiddlyspot'

    =yield
