
.nice-radio-container {

    > div {
        @extend .p-0;
        @extend .mt-1;
        @extend .mb-2;

        border-left: transparent solid 0.2rem;

        &.selected { border-left-color: $input-focus-border-color; }

        &:hover { border-left-color: $input-focus-border-color; }

        // So you can avoid the hover effect for a div that doesn't have
        // a radio button but still needs to be inside the container
        &.no-hover:hover {
            border-left-color: transparent;
            background-color: transparent;
        }

        label {
            @extend .py-2;
            @extend .px-3;

            width: 100%;

            .title {
                display: inline;
                font-weight: bold;
                font-size: 95%;
            }

            .description {
                @extend .text-muted;
                font-size: 90%;
            }
        }
    }
}

[data-bs-theme="light"] .nice-radio-container > div {
    &.selected { background-color: #f0f6ff; }
    &:hover { background-color: #f6f7f8; }
    &.selected:hover { background-color: #f0f6ff; }
    label { .title { color: var(--bs-gray-600); } }
}

[data-bs-theme="dark"] .nice-radio-container > div {
    &.selected { background-color: #324659; }
    &:hover { background-color: var(--bs-gray-700); }
    &.selected:hover { background-color: #324659; }
    label { .title { color: var(--bs-gray-500); } }
}
