
.stats {
    margin-left: 1rem;
    .card {
        @extend .th-slightly-muted;
        border-radius: 0px;
        border-style: none;
        min-width: 7rem;
        display: inline-block;
        .card-body {
            .big {
                font-size: 120%;
                display: inline;
            }
            .medium {
                font-size: 90%;
                display: inline;
                margin-left: 0.8rem;
            }
            .label {
                font-size: 75%;
                margin-top: -0.6em;
                padding-left: 0.2em;
            }
            padding: 0.8rem 0.5rem 0.7rem 1.2rem;
        }

        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .card.big {
        @extend .th-muted;
        min-width: 5rem;
        .card-body {
            .big {
                font-size: 220%;
            }
            .label {
                margin-top: -1.2em;
                padding-left: 0.5em;
                font-weight: bold;
            }
        }
    }

}

[data-bs-theme="light"] .stats .card {
    &.green .card-body { background-color: #cec; }
    &.blue .card-body { background-color: #cde; }
    &.yellow .card-body { background-color: #eec; }
    &.red .card-body { background-color: #ecc; }
    &.plain .card-body { background-color: #ddd; }
}
[data-bs-theme="dark"] .stats .card {
    &.green .card-body { background-color: #252; }
    &.blue .card-body { background-color: #235; }
    &.yellow .card-body { background-color: #552; }
    &.red .card-body { background-color: #522; }
    &.plain .card-body { background-color: #555; }
}

.user-links {
    a {
        margin: 0.7em;
        font-size: 80%;
    }
    margin-bottom: 1.5em;
}

.table.admin {
    a {
        text-decoration: none;
    }

    th,td {
        font-size: 80%;
        white-space: nowrap;
    }

    th {
        font-size: 80%;
        border-bottom: 1px solid black;
        border-top-style: none;
        white-space: nowrap;
        color: #888;
    }

    td {
        padding-right: 1em;
    }
}

@mixin up   { content: "↑"; opacity: 60%; padding-left: 1px; font-size: 90%; }
@mixin down { content: "↓"; opacity: 60%; padding-left: 1px; font-size: 90%; }
@mixin both { content: "⇵"; opacity: 20%; font-size: 80%; }
@mixin sel  { content: "•"; opacity: 60%; font-size: 100%; }

.table.admin, .table.sites {
    th {
        @extend .text-muted;
        opacity: 0.65;
        a {
            @extend .text-muted;
            opacity: 0.65;
            color: var(--bs-body-color);
            text-decoration: none;
            white-space: nowrap;
            &.asc, &.desc { opacity: 1.0; }

            &:after {
                display: inline-block;
                width: 10px;
                &:hover { text-decoration: none ! important; }
            }

            &:after            { @include both; }
            &:hover:after      { @include down; }
            &.desc:after       { @include up; }
            &.desc:hover:after { @include down; }
            &.asc:after        { @include down; }
            &.asc:hover:after  { @include up; }
        }
    }
}

.sites-menu, .hub-menu {
    .dropdown-item {
        // Use visibility:hidden so it takes the exact same amount of space as when it's visible
        &:before        { @include down; visibility: hidden;  padding-right: 0.5em; font-weight: bold; }
        &.asc:before    { @include down; visibility: visible; padding-right: 0.5em; font-weight: bold; }
        &.desc:before   { @include up;   visibility: visible; padding-right: 0.5em; font-weight: bold; }
        &.sel:before    { @include sel;  visibility: visible; padding-right: 0.5em; font-weight: bold; }
        &.notsel:before { @include sel;  visibility: hidden;  padding-right: 0.5em; font-weight: bold; }
    }
}

.admin-paginate {
    font-size: 80%;
    float: right;
}

.admin-page-info {
    font-size: 75%;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.admin-filter {
    margin-left: 1em;
    font-size: 70%;
    margin-bottom: 1em;
    opacity: 60%;
    .group {
        margin-right: 1.5em;
        display: inline-block;
        label {
            margin-right: 0.5em;
        }
    }

    .search {
        margin-left: 0px;
    }
}
