
.about-links {
    clear: left;
    padding-left: 0px;
    padding-top: 1em;
    margin-bottom: 3em;

    li {
        padding: 0.5em;
        margin-left: 0px;
        margin-bottom: 0.8em;
        list-style-type: none;
        display: inline-block;
        margin-right: 1em;
        font-size: 110%;
        border-radius: 0.25rem;
    }
}

[data-bs-theme="light"] .about-links li:hover { background-color: var(--bs-gray-200); }
[data-bs-theme="dark"]  .about-links li:hover { background-color: var(--bs-gray-800); }

.donate-button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2em auto 0;
    padding-right: 2em;
    width: 12em;
}
