
img.about-logo {
  width: 120px;
  height: 120px;
  border-radius: 0.25rem;
  float: left;
  margin: 0.5em 1em 0.5em 0
}

.about-links {
    clear: left;
    padding-left: 0px;
    padding-top: 1em;
    li {
        padding: 0.5em;
        margin-left: 0px;
        margin-bottom: 0.8em;
        list-style-type: none;
        display: inline-block;
        margin-right: 1em;
        font-size: 110%;
    }

    margin-bottom: 3em;
}

.donate-button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2em auto 0;
    padding-right: 2em;
    width: 12em;
}
