
h1 {
    svg.bi {
        opacity: 40%;
        font-size: 65%;
    }

    .gravatar {
        border-radius: 5px;
        margin-right: 0.2em;
        margin-top: -6px;
    }
}

[data-bs-theme="light"] .nav-tabs .nav-link.active {
    background: linear-gradient(#ffffff, #ffffff, #ffffff, #f8f9fa);
    border-bottom-color: #f8f9fa; /* bootstrap bg-light */
}

[data-bs-theme="dark"] .nav-tabs .nav-link.active {
    background: linear-gradient(#191b20, var(--bs-gray-900));
}

.nav-link {
    svg.bi {
        opacity: 35%;
        font-size: 75%;
    }
}

.hub {
    margin-bottom: 2em;
    padding-right: 0;
    margin-right: 0;
}

.hub.clone-button-on-hover {
  .site {
    // Do some finessing of the clone/download buttons to
    // Make them appear above the thumbnail but only on hover
    .clone-download-buttons {
      @extend .mx-2;
      margin-top: -2rem ! important;
      margin-bottom: 0.7rem ! important;
      visibility: hidden;
      border-color: transparent;
    }

    // It's meant to be a visual indicator that there
    // are some buttons that will appear when you hover.
    // (But for touch screen maybe you can tap them..?)
    .mini-clone-download-buttons {
      justify-content: flex-end;
      visibility: visible;
      margin-top: -1.6rem ! important;
      margin-right: 0.2rem ! important;
      gap: 0 ! important;
      .btn {
        flex-grow: 0;
        flex-shrink: 1;
        border-style: none;
        background-color: transparent;
        padding: 2px;
        font-size: 65%;
      }
    }

    &:hover {
      .clone-download-buttons {
        visibility: visible;
      }
      .mini-clone-download-buttons {
        visibility: hidden;
      }
    }
  }
}

.site-tile-owner {
    opacity: 60%;

    a {
        text-decoration: none;
    }

    span.views {
        margin-left: 0.1em;
        color: #999;
        font-size: 70%;
    }

    svg.bi {
        opacity: 30%;
    }

    .gravatar {
        margin-top: -2px;
        border-radius: 50%;
    }
}

// The same classes and partial are used for both the hub
// index and the sites index in grid view
.hub, .sites-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 4rem;

    .site {
        &:hover {
          background-color: white;
          border: 1px solid #efefef;
        }
        vertical-align: top;
        width: 15rem;
        margin: 0; // gap should handle the spacing
        border-radius: 0.25rem;
        border: 1px solid transparent;
        padding: 0.8rem;

        .clone-download-buttons {
          @extend .m-2;
          @extend .mx-0;
          display: flex;
          gap: 0.5em;

          .btn {
            @extend .m-0;
            font-size: 70%;
            flex-grow: 1;
            flex-shrink: 0;
            padding-top: 0.2em!important;
            padding-bottom: 0.2em!important;
            color: var(--bs-link-color-rgb);
          }
        }

        .description {
            margin-left: 0.25em;
            font-size: 75%;
            line-height: 1.6em;
            max-height: 8em; // line-height * 5
            overflow: hidden;
            opacity: 60%;
        }

        a {
            text-decoration: none;
        }

        .name {
            padding-left: 0.25em;
            a {
                overflow: hidden;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 110%;
                font-weight: bold;
                color: var(--bs-gray-600);
            }
        }

        .thumb-container {
            img {
                border-radius: 0.25rem;
                width: 100%;
            }

            .image-placeholder {
                border-radius: 0.25rem;
                width: 100%;
                aspect-ratio: 1.5;
                margin: 0px;
                border: 1px solid #e6e6e6;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--bs-gray-200);
                font-size: 75%;

                svg.bi {
                    fill: var(--bs-gray-500);
                }
            }
        }

        .owner {
            font-size: 75%;
            margin-top: 0.5em;
            margin-left: 0.25em;
            @extend .site-tile-owner;
        }

        .site-tags {
            margin-left: 0.4em;
            margin: 2px;
            font-size: 90%;

            line-height: 1.15em;
            max-height: 4.1em;
            // This is hand tweaked to be three lines of tags
            // Fixme: Should try clamping by lines somehow
            overflow: hidden;
        }

        .btn {
            // A border so you can see it better
            border-color: #dee2e6 !important;
        }
    }
}

[data-bs-theme="dark"] {
    .hub, .sites-grid {
        .site {
            .thumb-container {
                .image-placeholder {
                    background-color: var(--bs-gray-800);
                    border: 1px solid #181822;

                    svg.bi {
                        fill: var(--bs-gray-600);
                    }
                }
            }
            &:hover {
              border: 1px solid transparent;
              background-color: #2e2f31;
            }
            .clone-download-buttons {
              .btn {
                background-color: var(--bs-gray-700);
                border-color: var(--bs-gray-800) !important;

                &:hover {
                  background-color: var(--bs-gray-600);
                  border-color: var(--bs-gray-700) !important;
                }
              }
            }
            .mini-clone-download-buttons {
              .btn {
                background-color: transparent;
                svg.bi {
                  fill: #222;
                }
              }
            }
        }
    }
}

.page_info {
    margin-bottom: 2em;
    font-size: 80%;
}

.page_info .sort-by, .sites-filter-by {
    margin-left: 1.5em;

    a {
        text-decoration: none;
    }

    .dropdown-toggle {
        color: var(--bs-secondary-background);
        padding-left: 0.25em;
    }

    .dropdown-menu {
        font-size: 95%;

        .dropdown-item {
            padding: 0.5em 2em;

            &:before, &.sel:before {
                padding-right: 0.7em;
            }
        }
    }
}

.search {
    margin-left: 2em;

    input {
        color: var(--bs-body-color);
        background-color: var(--bs-form-control-bg);
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 0.25rem;
        margin-left: 0.15em;

        &:focus {
            outline: none;
            border-color: var(--bs-tertiary-color)
        }
    }

    button {
        font-size: 80%;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        color: var(--bs-secondary-background);
    }

    a {
        font-size: 80%;
        color: var(--bs-secondary-background);
    }
}

.site-tags {
    a {
        text-decoration: none;
        font-size: 70%;
        padding: 0.1em 0.5em;
        border-radius: 1em;
        opacity: 70%;
    }

}

[data-bs-theme="light"] .site-tags a {
    color: rgba(0,0,0,0.7);
    background-color: #fcda63;
    &:hover { background-color: #f2bb00; color: black; }
}
[data-bs-theme="dark"] .site-tags a {
    color: black;
    background-color: #b8900b;
    &:hover { background-color: #e2af00; }
}

#templates-toggle-switch {
    margin-left: 0px;
    margin-bottom: 0.5em;
    margin-right: 0.1em;
    vertical-align: middle;
    width: 1.5em;
    cursor: pointer;
}
