// https://gka.github.io/palettes/#/15|d|5c7cd9||1|1
$nav_bg_color: #3c60b9;

.banner-message {
    font-size: 75%;
    padding: 0.15em 0.5em
}

.navbar {
    background-color: $nav_bg_color;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);

    .nav-item {
        font-weight: bold;
        .dropdown-item-text {
            font-weight: normal;
        }
        > .nav-link > svg.bi {
            fill: #adb5bd;
            @extend .th-muted;
        }
    }

    img.gravatar {
        border-radius: 50%;
    }

    .dropdown-toggle:after {
        margin-left: 0px;
        vertical-align: 0.18em;
    }
}

.navbar .navbar-brand img { transform: rotate(0.5turn); }
.navbar.navbar-prod .navbar-brand img { transform: none; }

.dropdown-item {
    svg.bi {
        opacity: 60%;
        font-size: 90%;
    }
}

.navbar .dropdown-item {
    svg.bi {
        opacity: 50%;
    }
}
// Fast snap the burger menu
.collapsing {
    transition-duration: 0.02s;
}

// Add a line and some space to burger menu
.navbar-collapse.show {
    margin-top: 1em;
    padding-top: 0.3em;
    border-top: 2px solid rgba(255,255,255,0.1);
}

// Remove burger button border
// (Fixme: It comes back when you click for some reason)
.navbar-dark {
    .navbar-toggler {
        border-style: none;
    }

    .navbar-nav {
        .nav-link {
            color: #fff;
            opacity: 85%;
        }
    }

    svg.bi {
        color: #adb5bd;
    }
}

.jumbotron {
    /* gray-200 in boostrap */
    background-color: #e9ecef;
    line-height: 300%;

    h3 {
        margin-bottom: 0.5em;
    }

    span {
        display: inline-block;
        text-align: center;
        padding: 0.5em;
        margin-left: 0.3em;
    }
}

.blurb {
    margin-top: 1em;
    p {
        font-size: 90%;
    }
}

main {
    padding: 1em 1em 8em 1em;
}

[data-bs-theme="light"] {
    main { @extend .bg-light; }
    footer { background-color: var(--bs-gray-300); }
    .mode-toggle-btn.sun-btn { display: none !important; }
}

[data-bs-theme="dark"] {
    footer { background-color: var(--bs-secondary-bg); }
    .mode-toggle-btn.moon-stars-btn { display: none !important; }
}

@media (min-width: 576px) {
    // So the body bg color doesn't show through after the footer
    [data-bs-theme="light"] footer { box-shadow: 0 50vh 0 50vh var(--bs-gray-300); }
    [data-bs-theme="dark"] footer { box-shadow: 0 50vh 0 50vh var(--bs-secondary-bg); }
}

footer {
    padding: 2em 1.2em 10em;
    font-size: 80%;
    .container-fluid {
        opacity: 0.9;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        opacity: 80%;
    }

    ul {
        list-style-type: none;
        padding-left: 1.8em;
        padding-top: 0.5em;
        li {
            padding-bottom: 0.8em;
            svg.bi {
                opacity: 60%;
                margin-left: -2em;
                margin-right: 0px;
                padding-right: 0px;
            }
        }
    }

    h6 {
        font-size: 1.2rem;
        a {
            color: var(--bs-secondary-color) !important;
            font-weight: normal !important;
            &:hover { opacity: 100%; }
        }
    }

}

[data-bs-theme="light"] h1 { color: var(--bs-gray-700); }
[data-bs-theme="dark"] h1 { color: var(--bs-gray-500); }

.text-truncated {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

[data-bs-theme="light"] { @extend .bg-light; }
[data-bs-theme="dark"] { background-color: var(--bs-gray-900); }

body.simple-layout {
    header {
        nav {
            box-shadow: none;
            height: 1.8em;
            line-height: 1.8em;
            flex-wrap: nowrap;
            margin-bottom: 0.4em;
            padding: 1.2em;
            font-weight: bold;
        }

        .navbar-brand {
            font-size: 1.2rem;
        }

        img {
            margin-top: -3px;
            height: 16px;
            opacity: 80%;
        }

        span {
            font-size: 90%;
            margin-left:0.25em;
        }
    }

    main {
        background-color: var(--bs-body-bg) !important;

        margin: 2em 1.5em;

        h1 {
            margin-bottom: 0.5em;
        }

        .big {
            font-size: 130%;
        }

        padding-bottom: 8em;
    }
}

/* The menu is quite busy so give it some extra whitespace */
.th-nav-menu {
    padding-top: 0.9rem;
    padding-bottom: 1.2rem;
    min-width: 14.5em;

    li {
        a.dropdown-item {
            padding-left: 1.7em;
        }
    }

    li.dropdown-item-text {
        margin-left: 0.8em;
        margin-bottom: 0px;
        color: #6c757d;
        font-size: 80%;
        white-space: nowrap;
        a {
            text-decoration: none;
            color: #6c757d;
        }
    }

    li.dropdown-divider {
        margin-top: 0.9em;
    }
}

$hilight_bg_color: #d5e0f9;

.pagination {
    .page-item .page-link {
        border-color: transparent;
        background-color: inherit;
        font-size: 90%;
        padding: 3px 8px;
        margin: 0 2px;
        white-space: nowrap;
        border-radius: var(--bs-pagination-border-radius);
    }

    .page-item.disabled .page-link {
        color: var(--bs-gray-600)
    }

    .page-link.active, .active > .page-link {
        color: var(--bs-pagination-color);
    }

    .gap {
        color: var(--bs-gray-500);
        margin-right: 1px;
    }
}

[data-bs-theme="light"] .pagination {
    .page-item:hover .page-link {
        background-color: $hilight_bg_color;
        border-color: $hilight_bg_color;
    }
    .page-link.active, .active > .page-link {
        background-color:  $hilight_bg_color;
        border-color:  $hilight_bg_color;
        color: var(--bs-pagination-color);
    }
    .page-item.disabled:hover .page-link {
        background-color: transparent;
        border-color: transparent;
    }

}
[data-bs-theme="dark"] .pagination {
    .page-item:hover .page-link {
        background-color: var(--bs-gray-800);
        border-color: var(--bs-gray-800);
    }
    .page-link.active, .active > .page-link {
        background-color:  var(--bs-gray-800);
        border-color:  var(--bs-gray-800);
        color: var(--bs-pagination-color);
    }
    .page-item.disabled:hover .page-link {
        background-color: transparent;
        border-color: transparent;
    }

}

[data-bs-theme="light"] {
    .form-wrapper {
        background-color: var(--bs-body-bg);
        box-shadow: var(--bs-box-shadow);
    }

    svg.bi.warning {
        fill: var(--bs-danger);
    }

    b.text-danger {
    }

    .thumbnail-large {
        border: 1px solid #ddd;
    }

    .red-icon {
        fill: var(--bs-red);
    }
}

[data-bs-theme="dark"] {
    .form-wrapper {
        background-color: var(--bs-gray-800);
    }
    .navbar {
        background-color: var(--bs-gray-800);
    }

    svg.bi.warning {
        fill: var(--bs-orange);
    }

    b.text-danger {
        color: var(--bs-orange) !important;
    }

    .thumbnail-large {
        border: 1px solid #181822;
    }

    .red-icon {
        fill: var(--bs-yellow);
    }
}
