
[data-bs-theme="light"] table.sites {
    tr, img.thumbnail-small {
        border-color: #ddd;
    }
}

[data-bs-theme="dark"] table.sites {
    tr, img.thumbnail-small {
        border-color: #181822;
    }
}

table.sites {
    margin-bottom: 1.5em;

    th {
        vertical-align: top;
        font-size: 80%;
        line-height: 80%;
        small {
            color: #999;
        }
        padding-bottom: 1.5em;
    }

    td {
        padding: 0.4em 1em;
        vertical-align: middle;

        .description {
            margin-left: 0.5em;
            font-size: 75%;
            max-width: 24em;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
            opacity: 60%;
        }

        .site-tags {
            margin-left: 0.3em;
            font-size: 90%;
        }

        .smaller {
            font-size: 90%;
        }

        .sitelink {
            white-space: nowrap;

            // Show a favicon
            img {
              width: 0.8rem;
              height: 0.8rem;
              margin-right: 0.2rem;
              margin-top: -2px;
              border-radius: 2px;
            }

            a {
                text-decoration: none;
            }
        }

        img.thumbnail-small {
            border-width: 1px;
            border-style: solid;
            width: 3em;
            height: 2em;
        }

        .dropdown-item {
            svg.bi {
                padding-right: 0.4em;
            }
        }

    }
}

.compressed-indicator {
    vertical-align: middle;
    font-size: 60%;
    color: #777;
}

.admin .compressed-indicator {
    font-size: 80%;
    color: #444;
}

.clear-left {
    clear: left;
}

table.history-table {
    thead {
        font-size: 75%;
        color: #aaa;
        th {
            border-bottom-width: 0px;
            white-space: nowrap;
        }
    }

    tbody {
        td {
            // Makes the action button look more in line with the text
            vertical-align: middle;
            font-size: 75%;
        }
    }
}

.create-buttons {
    .btn {
        @extend .th-text-90;
        @extend .th-muted;
    }
}

.sites-menu {
    .btn {
        @extend .th-muted;
    }
}

.actions-menu-group {
    white-space: nowrap;
    .btn {
        font-size: 85%;
        padding: 0.25rem 0.3rem 0.25rem 0.35rem;
        background-color: transparent;
        border-color: transparent;
    }
}

[data-bs-theme="light"] {
    .create-buttons, .sites-menu, .actions-menu-group {
        .btn {
            @extend .btn-light;

            &:hover, &.show {
                background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) !important;
                background-color: #c6c7c8;
            }
        }
    }
    .clone-btn { @extend .btn-light; }
}

[data-bs-theme="dark"] {
    .create-buttons, .sites-menu, .actions-menu-group {
        .btn {
            @extend .btn-dark;
            &:hover, &.show {
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)) !important;
                background-color: var(--bs-gray-900);
            }
        }
    }

    .clone-btn { @extend .btn-dark; }
}

.sites-menu .btn {
    @extend .th-muted;
}

[data-bs-theme="light"] {
    .sites-menu .btn, .hub-menu .btn {
        @extend .btn-light;
    }
    .sites-menu .btn:hover {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) !important;
    }

}

[data-bs-theme="dark"] {
    .sites-menu .btn, .hub-menu .btn {
        @extend .btn-dark;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 0, 0.1) !important;
    }
}
