%h2= "Change password for Tiddlyspot site '#{@site.name}'"

%p{style: "margin-top: 1em;"}
  Use this form to change the password used
  -if @site.is_private?
    to access the site, and
  for "save to web" uploads.
</p>

=form_for @site, url: { action: :change_password_submit } do |f|

  -if @site.errors.any?
    .alert.alert-danger
      %p= "Unable to update password due to:"
      %ul
        -@site.errors.full_messages.each do |message|
          %li= message

  %div.form-group{style: 'margin-top: 2em;'}
    =f.label :password, 'New Password'
    =f.password_field :password, class: 'form-control', value: '', style: 'width: 30em; margin-left: 0.25em;'

  %div.form-group
    =f.label :password_confirmation, 'Confirm New Password'
    =f.password_field :password_confirmation, class: 'form-control', value: '', style: 'width: 30em; margin-left: 0.25em;'


  %div.form-group{style: 'margin-top: 2em;'}
    =f.submit 'Change', class: 'btn btn-primary'
    =link_to 'Cancel', sites_path, style: 'margin-left: 1em;'
