
%h1 Claim ownership of a Tiddlyspot site

%p
  If you know the name and the password for a Tiddlyspot site, then you can
  claim it as your own and manage it in Tiddlyhost.

%p
  Enter a site name and password below to claim ownership of a Tiddlyspot site.

=render 'claim_form'
