%p
  Tiddlyspot is now in recovery mode due to some technical issues. Existing
  sites are available, but saving updates and creating new sites is not
  currently supported.

%p
  You can, however, create and save sites on
  =link_to('tiddlyhost.com', Settings.main_site_url) + ","
  which is a new, improved replacement for Tiddlyspot. For more information see
  =link_to 'this announcement', 'http://tiddlyspot.blogspot.com/2021/02/announcing-tiddlyhostcom.html'
  and the
  =link_to('FAQ', Settings.faq_url) + "."

%p
  See
  =link_to 'tiddlyspot.blogspot.com', 'https://tiddlyspot.blogspot.com/'
  for more details and for the latest updates.

%p Thank you for your patience and messages of support.
%p Regards,
%p Simon
