%p
  Tiddlyspot is in recovery mode due to some technical issues.

%p

  %b March 26, 2021
  %br
  "Save to web" should be working again.

%p
  Creating new Tiddlyspot sites is not supported.
  You can, however, create new sites on
  %b
    =link_to('Tiddlyhost', Settings.main_site_url) + ","
  which is a new, improved replacement for Tiddlyspot. For more information see
  =link_to 'this announcement', 'http://tiddlyspot.blogspot.com/2021/02/announcing-tiddlyhostcom.html'
  and the
  =link_to('FAQ', Settings.faq_url) + "."

%p
  See
  =link_to 'tiddlyspot.blogspot.com', 'https://tiddlyspot.blogspot.com/'
  for more details and for the latest updates.

%p Thank you for your patience and messages of support.
%p Regards,
%p Simon
