
%h1 404 Not Found

%p
  Site
  ="'#{@site_name}'"
  doesn't exist on Tiddlyspot.

%p
  Return to
  =link_to 'Tiddlyspot', Settings.tiddlyspot_url
  or visit
  =link_to('Tiddlyhost', Settings.main_site_url) + ","
  a new, improved Tiddlyspot replacement.
