
=render layout: 'form_wrapper', locals: { heading: heading, intro_text: kind_summary(@site) } do

  =form_for @site do |f|

    -if @site.errors.any?
      =render layout: 'field_wrapper' do
        .alert.alert-danger
          %p= "#{pluralize(@site.errors.count, "error")} prevented this site from being saved:"
          %ul
            -@site.errors.full_messages.each do |message|
              %li= message

    =render layout: 'field_wrapper', locals: { pt: 'pt-2' } do
      =f.label :name, @site.new_record? ? 'Choose a name' : 'Name'
      =f.text_field :name, class: 'form-control', maxlength: 63, autofocus: @site.new_record?
      %small.form-text.text-muted Lower case letters, numbers, and non-leading, non-trailing '-' chars are allowed.

    =render layout: 'field_wrapper' do
      .form-check
        =f.check_box :is_private, class: 'form-check-input private-checkbox'
        =f.label :is_private, 'Private', class: 'form-check-label'
      .form-text
        Make the site private, rather than publicly viewable.

    =render layout: 'field_wrapper' do
      .form-check
        =f.check_box :is_searchable, class: 'form-check-input hub-checkbox'
        =f.label :is_searchable, 'Hub listed', class: 'form-check-label'
      .form-text
        Include this site in the #{link_to 'Tiddlyhost Hub', '/hub', target: '_blank'}.

    =render layout: 'field_wrapper' do
      =f.label :description
      =f.text_area :description, class: 'form-control'
      .form-text Optional. A short description of the site.

    =render layout: 'field_wrapper' do
      =f.label :tag_list, 'Tags'
      =f.text_field :tag_list, class: 'form-control', value: @site.tag_list.to_s
      .form-text Optional. A comma delimited list of tags.

    =render layout: 'advanced_wrapper' do
      -if @site.new_record?
        .px-2.pt-0.pb-4
          =f.label :empty_id, 'TiddlyWiki version'
          =f.select(:empty_id,
            options_from_collection_for_select(@empties_for_select, :id, :long_title, @site.empty_id || Empty.default_id),
            {}, class: 'form-control')
          .form-text
            <i>TiddlyWiki</i>, also known as TiddlyWiki 5, is the default and the recommended choice.
            <i>TiddlyWiki Classic</i> refers to the original version of TiddlyWiki which stopped receiving updates around 2011.

      =render layout: 'field_wrapper' do
        .form-check
          =f.check_box :enable_put_saver, class: 'form-check-input'
          =f.label :enable_put_saver, 'Enable put saver', class: 'form-check-label'
        .form-text
          Save to Tiddlyhost using the 'put' saver instead of the legacy 'upload' saver.
          Not recommended unless you're using a TiddlyWiki 5.2.3 prerelease.

      =render 'site_common/allow_in_iframe', f: f

    =render layout: 'field_wrapper', locals: { pt: 'pt-5' } do
      =f.submit @site.new_record? ? 'Create' : 'Update', class: 'btn btn-primary'
      =link_to 'Cancel', sites_path, class: 'mx-4'
