=form_for @site do |f|

  -if @site.errors.any?
    .alert.alert-danger
      %p= "#{pluralize(@site.errors.count, "error")} prevented this site from being saved:"
      %ul
        -@site.errors.full_messages.each do |message|
          %li= message

  %div.form-group
    =f.label :name, @site.new_record? ? 'Choose a name' : 'Name'
    =f.text_field :name, class: 'form-control', maxlength: 63, style: 'width: 20em; margin-left: 0.25em;'
    %small.form-text.text-muted Lower case letters, numbers, and non-leading, non-trailing '-' chars are allowed.

  -if @site.new_record?
    %div.form-group.advanced{style: display_none_when(@show_advanced)}
      %small
        =link_to 'Advanced options', '#', onclick: "$('.advanced').toggle(150); return false;"
    %div.form-group.advanced{style: display_none_when(!@show_advanced)}
      =f.label :empty_id, 'TiddlyWiki version'
      =f.select(:empty_id, options_from_collection_for_select(@empties_for_select, :id, :long_title, @site.empty_id || @default_empty),
        {}, class: 'form-control form-control-sm', style: 'width: 30em;')
      %small.form-text.text-muted
        'TiddlyWiki', also known as 'TiddlyWiki5', is the default and the recommended choice.
        %br
        'Classic' is the old version of TiddlyWiki that hasn't been updated much since 2011.

  %div.form-group
    %div.form-check
      =f.check_box :is_private, class: 'form-check-input private-checkbox'
      =f.label :is_private, 'Private', class: 'form-check-label'
    %small.form-text.text-muted
      Make the site private, rather than publicly viewable.

  %div.form-group
    %div.form-check
      =f.check_box :is_searchable, class: 'form-check-input hub-checkbox'
      =f.label :is_searchable, 'Hub listed', class: 'form-check-label'
    %small.form-text.text-muted
      Include this site in the #{link_to 'Tiddlyhost Hub', '/hub', target: '_blank'}.

  %div.form-group
    =f.label :description
    =f.text_area :description, class: 'form-control', style: 'width: 35em; margin-left: 0.25em;'
    %small.form-text.text-muted Optional. A short description of the site.

  %div.form-group
    =f.label :tag_list, 'Tags'
    =f.text_field :tag_list, class: 'form-control', value: @site.tag_list.to_s, style: 'width: 30em; margin-left: 0.25em;'
    %small.form-text.text-muted Optional. A comma delimited list of tags.

  %div.form-group{style: 'margin-top: 2em;'}
    =f.submit @site.new_record? ? 'Create' : 'Update', class: 'btn btn-primary'
    =link_to 'Cancel', sites_path, style: 'margin-left: 1em;'
