
%h1 Your sites

-if @sites.empty?
  %p Click 'Create site' below to create your first TiddlyWiki site.

-else
  -if current_user.has_hub_link?
    .hub-link
      =link_to_user_hub_with_count(current_user)

  .float-end.small{style: "margin-top: -0.6rem;"}
    .d-inline-block.grid-sort
      =link_to("#", class: 'ms-2 btn btn-light btn-sm text-muted', title: 'Sort options',
        role: 'button', 'data-bs-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false') do
        Sort
        =bi_icon('sort-down', fill: '#666')
      .dropdown-menu{'aria-labelledby': 'dropdownMenuLink'}
        =sort_link 'name',    :asc,  'dropdown-item'
        =sort_link 'kind',    :desc, 'dropdown-item'
        =sort_link 'version', :desc, 'dropdown-item'
        =sort_link 'access',  :asc,  'dropdown-item'
        =sort_link 'views',   :desc, 'dropdown-item'
        =sort_link 'size',    :desc, 'dropdown-item'
        =sort_link 'updated', :desc, 'dropdown-item'
        -if @sites.any?(&:is_tspot?)
          =sort_link 'origin', :asc, 'dropdown-item'

    .d-inline-block
      =link_to(view_toggle_sites_path, class: "m-1 btn btn-sm btn-light text-muted", title: @grid_view ? 'List view' : 'Grid view') do
        View
        =bi_icon(@grid_view ? 'list-ul' : 'grid', fill: '#666')

  .summary-info
    =pluralize(@site_count, 'site') + ","
    =as_megabytes(@total_storage_bytes)
    MB storage used.

  -if @grid_view
    =render 'grid_view'
  -else
    =render 'list_view'


.mx-2.my-4(style="line-height: 3em;")
  =link_to 'Create site', new_site_path, class: 'btn btn-primary me-3'
  -if Settings.tiddlyspot_enabled?
    =link_to 'Claim Tiddlyspot site', { controller: :tspot_sites, action: :claim_form }, class: 'btn btn-secondary', style: 'opacity: 65%'
