
.row.blurb
  .col
    %h5 Your own wiki in seconds
    %p
      Get your own powerful, extensible, personal wiki in seconds with no installation
      required. Make it private or public.

  .col
    %h5 Powered by TiddlyWiki
    %p
      Tiddlyhost is powered by
      =link_to 'TiddlyWiki', 'https://tiddlywiki.com/'
      the revolutionary open source JavaScript wiki, created by
      =link_to('Jeremy Ruston', 'https://tiddlywiki.com/#JeremyRuston') + "."

  .col
    %h5 From the creator of Tiddlyspot
    %p
      Tiddlyhost is the secure, modern, reliable successor to Tiddlyspot, and its
      code is <a href="https://github.com/simonbaird/tiddlyhost">open source</a>.

.jumbotron
  %h3 Get started now
  =link_to 'Log in', new_user_session_path, class: 'btn btn-lg btn-primary'
  or
  =link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary'
