
.row.blurb
  .col
    %h5 Your own wiki in seconds
    %p
      Get your own powerful personal wiki in seconds with no installation
      required. Make it private or public. Update it online and offline.

  .col
    %h5 Runs in your browser
    %p
      All you need is a web browser. Your wiki is fully self-contained and runs
      entirely within your browser.

  .col
    %h5 Powered by TiddlyWiki
    %p
      Tiddlyhost is powered by
      =link_to 'TiddlyWiki', 'https://tiddlywiki.com/'
      the original revolutionary open source javascript wiki, created by
      =link_to('Jeremy Ruston', 'https://tiddlywiki.com/#JeremyRuston') + "."

  .col
    %h5 From the creator of Tiddlyspot
    %p
      Tiddlyhost is like the grown up version of Tiddlyspot. It's secure, modern, reliable,
      and its code is <a href="https://github.com/simonbaird/tiddlyhost">open source</a>.

.jumbotron
  %h3 Get started now
  =link_to 'Login', new_user_session_path, class: 'btn btn-lg btn-primary'
  or
  =link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary'
