
<h2>Donate</h2>

<div class="row">
  <div class="col-8">
    If you find Tiddlyhost or Tiddlyspot useful then please consider a donation.
    A donation will help cover hosting costs, and encourage the continued support
    and development of Tiddlyhost and TiddlySpot. Click below to donate using <a
    href="https://www.paypal.com/">PayPal</a>.
  </div>
</div>

<div class="row">
  <div class="col-8" style="padding: 2em;">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="form-inline">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="donations@tiddlyspot.com">
      <input type="hidden" name="item_name" value="Tiddlyhost/Tiddlyspot Donation. Thank you!">
      <input type="hidden" name="item_number" value="Donation">
      <input type="hidden" name="no_shipping" value="2">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="tax" value="0">
      <input type="hidden" name="bn" value="PP-DonationsBF">

      <div class="form-group mb-2">
        <label>Currency: &nbsp;</label>
      </div>
      <div class="form-group mb-2">
        <select name="currency_code" class="form-control">
          <option value="AUD">Australian Dollars</option>
          <option value="CAD">Canadian Dollars</option>
          <option value="EUR">Euros</option>
          <option value="GBP">Pounds Sterling</option>
          <option selected="selected" value="USD">US Dollars</option>
          <option value="JPY">Yen</option>
        </select> &nbsp;
        <input type="submit" value="Make A Donation" class="btn btn-primary">
      </div>
    </form>

  </div>
</div>
