%h1 Privacy Policy

= render 'policy_tabs'

.policy-markdown
  :markdown

    # Tiddlyhost Privacy Policy

    ## Introduction

    The Tiddlyhost proprietor, Simon Baird ("the Proprietor", "we", "us", or
    "our") values the privacy of its users ("you" or "your") and is committed
    to protecting it through our compliance with this privacy policy
    (“Policy”). This Policy applies to information collected through Tiddlyhost
    online application (the "Service").

    ## Information Collected

    Information is collected from you in several different ways through the
    Service, including:

    - Personal Information: Personal information may be collected from you such
      as your name, email address, and other contact information when you
      create an account, contact us with a question or concern, or participate
      in any promotions or surveys.

    - Usage Information: Information may be collected about your use of the
      Service, including the type of browser you use, access times, pages
      viewed, your IP address, and the page you visited before navigating to
      the Service.

    - Information Collected Automatically: Information may be automatically
      collected through the use of cookies, web beacons, and other technologies.
      This information may include device type, operating system, and information
      about your use of the Service.

    ## Use of Information

    Information collected through the Service is used to provide and
    improve the Service, to contact you with administrative and promotional
    messages, and for internal business purposes.

    ## Sharing of Information

    We will not sell, rent, or otherwise share your information with any
    third party, except as described in this Policy or as required by law. We
    may share your information with third-party service providers who perform
    services on our behalf, such as hosting, analytics, payment processing,
    and customer service. We may also share your information if we believe it
    is necessary in order to comply with a legal obligation, protect the
    safety of any person, or detect, prevent, or otherwise address fraud,
    security, or technical issues.

    ## Data Retention

    We will retain your information for as long as your account is active or
    as needed to provide you the Service. We will also retain and use your
    information as necessary to comply with our legal obligations, resolve
    disputes, and enforce our agreements.

    ## Your Choices

    You have the right to access, update, and delete your personal information,
    as well as the right to request that we stop processing your personal
    information. You can exercise these rights by logging into your account,
    contacting us at [tiddlyhost+legal@gmail.com](mailto:tiddlyhost+legal@gmail.com),
    or by using the unsubscribe function in any promotional emails we send.

    ## Data Security

    We take the security of your information seriously and have implemented
    reasonable technical and organizational measures to protect it from
    unauthorized access, alteration, or destruction. Despite these measures,
    please note that no method of electronic transmission or storage is 100%
    secure and we cannot guarantee the absolute security of your information.

    ## International Transfer

    Your information may be transferred to, and maintained on, computers
    located outside of your state, province, country, or other governmental
    jurisdiction where the data protection laws may differ from those in your
    jurisdiction. By using the Service, you consent to the transfer of your
    information to any such computers and the processing of your information
    by such computers.

    ## Changes to this Policy

    We may update this Policy from time to time in order to reflect changes to
    our privacy practices. We will notify you of any material changes to this
    Policy by posting the new Policy on the Service and updating the effective
    date. Your continued use of the Service following the posting of changes to
    this Policy will constitute your acceptance of such changes.

    ## Contact Information

    If you have any questions or concerns about this Policy or our privacy
    practices, please contact the Proprietor at
    [tiddlyhost+legal@gmail.com](mailto:tiddlyhost+legal@gmail.com). If you are
    a resident of the European Economic Area and have a concern about our
    processing of your personal information, you have the right to raise such
    concern with your local data protection authority.

    ## Effective Date

    This Policy is effective as of Feb 14, 2023.
