%h1 Terms of Use

= render 'policy_tabs'

.policy-markdown
  :markdown

    # Tiddlyhost Terms of Use

    ## Introduction

    This document outlines the terms of use for Tiddlyhost ("the Service"),
    provided by Simon Baird, ("the Proprietor"). By using the Service, you
    agree to these terms. Please read them carefully.

    ## Eligibility

    You must be at least 13 years old to use the Service. By using the Service,
    you represent and warrant that you are of the legal age to form a binding
    contract and that you have not been previously suspended from using the
    Service.

    ## Intellectual Property

    The source code for Tiddlyhost is open source software and is licensed
    under 3-Clause BSD license. The source code is available for public use,
    modification and distribution in accordance with the terms of that license.

    However, the name "Tiddlyhost", "tiddlyhost.com" and all related branding,
    including the main logo and other logos and service marks, are the
    exclusive property of the Proprietor. You are not authorized to use any of
    the foregoing for any purpose without the prior written consent of the
    Proprietor.

    The Proprietor retains all right, title and interest in and to the Service,
    including, without limitation, all patents, copyrights, trademarks, trade
    secrets and other proprietary rights associated with the Service. You agree
    that you will not take any action that would impair the Proprietor's rights
    in the Service.

    ## User Contributions

    The Service allows you to upload, post, or otherwise transmit content,
    information, and other materials ("User Contributions"). You retain all
    rights in and to your User Contributions and are solely responsible for
    them.

    By making any User Contributions through the Service, you grant the
    Proprietor a limited license to use, copy, display, and distribute your
    User Contributions solely in connection with providing the Service. This
    license is non-exclusive, royalty-free, sub-licensable, and worldwide.

    You represent and warrant that: (i) you either are the sole and exclusive
    owner of all User Contributions or you have all rights, licenses, consents,
    releases, and permissions necessary to grant the rights granted in these
    Terms of Use; (ii) the User Contributions do not infringe, misappropriate,
    or violate a third party’s patent, copyright, trademark, trade secret,
    moral rights, or other proprietary or intellectual property rights, or
    rights of publicity or privacy, or result in the violation of any
    applicable law or regulation; and (iii) the User Contributions do not
    contain any viruses, trojan horses, worms, time bombs, cancelbots, or other
    computer programming routines that are intended to damage, detrimentally
    interfere with, surreptitiously intercept, or expropriate any system, data,
    or personal information.

    The Proprietor does not claim any ownership rights in your User
    Contributions and nothing in these Terms of Use will be deemed to restrict
    any rights that you may have to use and exploit your User Contributions.
    The Company has no obligation to monitor User Contributions, but reserves
    the right to remove User Contributions that violate these Terms of Use, as
    determined in the sole discretion of the Proprietor.

    ## User Conduct

    You may not use the Service for any illegal or unauthorized purpose. You
    agree to comply with all laws, rules and regulations applicable to your use
    of the Service. You agree not to engage in any of the following activities
    while using the Service:

    - Using the Service for commercial purposes without the prior written consent
      of the Proprietor.
    - Violating any law, rule or regulation.
    - Infringing any patent, trademark, trade secret, copyright, or other
      proprietary rights of any party.
    - Interfering with the Service or attempting to access the Service using a
      method other than through the interface provided by the Proprietor.
    - Distributing viruses or other harmful computer code.
    - Engaging in any activity that is harmful, threatening, abusive, harassing,
      tortious, defamatory, vulgar, obscene, libelous, invasive of another's
      privacy, hateful, or racially, ethnically, or otherwise offensive.
    - Using scripts or bots to automate access to the Service in ways that
      generate excessive, unwanted, or inappropriate traffic or content, such as
      posting repetitive or unwanted messages, scraping or harvesting content, or
      sending automated requests without consideration for the user experience.

    ## Modification of Service and Termination

    The Proprietor reserves the right to modify or discontinue the Service with
    or without notice to you. The Proprietor shall not be liable to you or any
    third party for any modification or termination of the Service.

    ## Disclaimer of Warranty

    The Service is provided on an "as is" and "as available" basis. The
    Proprietor makes no warranty that the Service will meet your requirements
    or be available on an uninterrupted, secure, or error-free basis. The
    Proprietor makes no warranty regarding the quality of any products,
    services, information, or other material purchased or obtained through the
    Service, or the accuracy, timeliness, truthfulness, completeness or
    reliability of any information obtained through the Service.

    ## Limitation of Liability

    The Proprietor shall not be liable for any indirect, incidental, special,
    punitive, or consequential damages, including without limitation, loss of
    profits, data, use, goodwill, or other intangible losses, resulting from (i)
    your access to or use of or inability to access or use the Service; (ii) any
    conduct or content of any third party on the Service; (iii) any content
    obtained from the Service; and (iv) unauthorized access, use or alteration of
    your transmissions or content.

    ## Indemnification

    You agree to indemnify and hold the Proprietor, their affiliates, officers,
    agents, employees, and partners harmless from and against any and all
    claims, liabilities, damages, losses, costs, expenses, or fees (including
    reasonable attorneys' fees) that arise from or relate to your use of the
    Service, including but not limited to your User Contributions, violation of
    these terms, or infringement by you, or any third party using your account,
    of any intellectual property or other right of any person or entity.

    ## Conclusion

    These terms constitute the entire agreement between you and the Proprietor
    regarding the use of the Service. If any provision of these terms
    is held to be invalid or unenforceable, such provision shall be struck
    and the remaining provisions shall be enforced. The Proprietor's failure
    to enforce any right or provision in these terms shall not constitute a
    waiver of such right or provision unless acknowledged and agreed to by us
    in writing.

    ## Contact Information

    If you have any questions about these terms, please contact the Proprietor
    by email at [tiddlyhost+legal@gmail.com](mailto:tiddlyhost+legal@gmail.com).
