
.d-flex.mt-1{style: "overflow: hidden;"}
  .ms-1.p-1
    -if site.thumbnail.present?
      =image_tag(rails_storage_proxy_path(site.thumbnail), style: "border: 1px solid #ddd; width: 6em;")
  .p-1.flex-fill
    %b{style: "color: var(--bs-gray-600);"}= site.name
    %span.ps-2.text-muted{style: "font-size: 75%; opacity: 70%;"}
      =site_access(site)
    .small.text-muted{style: "white-space: nowrap;"}
      =site.description
    .text-muted{style: "font-size: 75%;"}
      =kind_summary(site)
