-is_tspot = site.is_a?(TspotSite)

.site{id: site.name}
  -if site.thumbnail.present?
    .thumb-container
      =link_to site.url, target: site.long_name do
        =image_tag rails_storage_proxy_path(site.thumbnail)

  .name{title: site.long_name}
    =site_link site, target: site.long_name

  -if mode == "home"
    -# Show the actions menu
    .float-end
      =render 'actions_menu', site: site, is_tspot: is_tspot, menu_only: true

    .small.m-1
      =site_access(site)
      .small{style: "margin-left: 1px; margin-top: 3px;"}
        =kind_logo(site)
        -if site.tw_version
          =site.tw_version_short
        -if site.raw_byte_size
          %span.mx-1.text-muted!= "&centerdot;"
          !="#{as_megabytes(site.raw_byte_size)}&nbsp;MB"

  .description
    -if mode == "hub" && site.cloneable_by_public?
      -# Show a clone button
      .float-end.enable-tooltips
        =link_to(new_site_path(clone: site.name),
          "data-bs-toggle"=>"tooltip",
          "data-bs-placement"=>"right",
          class: 'btn btn-sm btn-light px-2 py-1 mx-1 my-0', style: 'border-style: none;',
          title: 'Create a new site using this template') do
          =bi_icon('files', height: '1.2em', fill: '#777')
          %div{style: "font-size: 60%; margin-top: -1px;"}Clone
        .py-0.my-0{style: "font-size: 70%; text-align: center; font-weight: bold; line-height: 1em;"}
          =site.clone_count

    =span_with_title(site.description)

  -unless site.tag_list.empty?
    .site-tags
      =clickable_site_tags(site)

  -if mode == "hub"
    .owner
      -if site.user.use_gravatar?
        =gravatar_image(site.user, size: 14)
      -else
        =bi_icon('person-fill', style: 'margin-right:-3px;')
      -if site.user.has_username?
        %span{title: site.user.name}
          =link_to site.user.username, hub_user_url(site.user.username)
      -else
        =site.user.name
      -if site.user.is_tiddlyhost?
        =bi_icon('patch-check-fill', width: '1.1em', height: '1.1em', fill: '#198754', style: 'opacity: 90%; margin-left: 1px;')

      %span.views
        =views_and_updated_text(site).html_safe
