#!/bin/bash
# chkconfig: 2345 20 80
# description: Tiddlyhost

# Source function library
. /etc/init.d/functions

START_DIR={{ home_dir }}
DOCKER_COMPOSE=/usr/local/bin/docker-compose
DOCKER=/usr/bin/docker

start() {
    $DOCKER_COMPOSE up --detach
}

stop() {
    # The --volumes option is so that the rails-static volume is removed on
    # shutdown. It will be recreated again on startup which is what we want.
    $DOCKER_COMPOSE down --volumes
}

stop-web() {
    # Should be faster since the db and cache containers stay up
    $DOCKER_COMPOSE rm --stop --force web app jobs
    # Make sure the rails-static volume is refreshed
    $DOCKER volume rm th_rails_static
}

cd $START_DIR

case "$1" in
    start)
        start
        ;;

    stop)
        stop
        ;;

    restart)
        stop
        start
        ;;

    reload)
        stop-web
        start
        ;;

    status)
        $DOCKER_COMPOSE ps --services --filter status=running
        ;;

    *)
        echo "Usage: $0 {start|stop|status|restart|reload}"
        ;;

esac

exit 0
