
[defaults]
callbacks_enabled = ansible.posix.profile_tasks
result_format = yaml
private_key_file = ~/.ssh/thprod

[ssh_connection]
# Avoids "junk after JSON data" warnings due to ssh -tt when using become
pipelining = True
