all:
  hosts:
    prod:
      primary_host: tiddlyhost.com
      tiddlyspot_host: tiddlyspot.com
      ansible_host: "{{ primary_host }}"

      # Todo: Should create this user rather than assume it exists and has sudo
      ansible_user: fedora
      ansible_python_interpreter: /usr/bin/python3.13

      # For letsencrypt
      cert_hosts:
      - "{{ primary_host }}"
      - "{{ tiddlyspot_host }}"

  vars:
    local_root: ../..

    root_home_dir: /root
    home_dir: /home/{{ ansible_user }}

    bin_dir: "{{ home_dir }}/bin"
    bash_rc_dir: "{{ home_dir }}/.bashrc.d"
    docker_dir: "{{ home_dir }}/docker"
    backups_dir: "{{ home_dir }}/backups"
    db_dump_file: "{{ backups_dir }}/dbdump.gz"

    # S3 backup configuration
    s3_backup_enabled: true
    s3_backup_bucket: "tiddlyhost-backups"
    s3_backup_retention_days: 90

    prerelease_empty: https://tiddlywiki.com/prerelease/empty.html
