
.stats {
    margin-left: 1rem;
    .card {
        min-width: 7rem;
        display: inline-block;
        .card-body {
            .big {
                font-size: 120%;
                display: inline;
            }
            .medium {
                font-size: 90%;
                display: inline;
                margin-left: 0.8rem;
            }
            .label {
                font-size: 75%;
                color: #555;
                margin-top: -0.6em;
                color: #888;
                padding-left: 0.2em;
            }
            padding: 0.8rem 0.5rem 0.7rem 1.2rem;
        }

        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .card.big {
        min-width: 5rem;
        .card-body {
            .big {
                font-size: 220%;
            }
            .label {
                margin-top: -1.2em;
                padding-left: 0.5em;
                font-weight: bold;
                color: #999;
            }
        }
    }

}

.user-links {
    a {
        margin: 0.7em;
        font-size: 80%;
    }
    margin-bottom: 1.5em;
}

.table.admin {
    a {
        text-decoration: none;
    }

    th,td {
        font-size: 80%;
        white-space: nowrap;
    }

    th {
        font-size: 80%;
        border-bottom: 1px solid black;
        border-top-style: none;
        white-space: nowrap;
        color: #888;
    }

    td {
        padding-right: 1em;
    }
}

.table.admin, .table.sites {
    th {
        color: #888;
        a {
            color: #888;
            text-decoration: none;
            white-space: nowrap;
            &.asc, &.desc { color: #444; }

            @mixin up   { content: "↑"; color: #666; padding-left: 1px; font-size: 90%; }
            @mixin down { content: "↓"; color: #666; padding-left: 1px; font-size: 90%; }
            @mixin both { content: "⇵"; color: #ddd; font-size: 80%; }

            &:after {
                display: inline-block;
                width: 10px;
                &:hover { text-decoration: none ! important; }
            }

            &:after            { @include both; }
            &:hover:after      { @include down; }
            &.desc:after       { @include up; }
            &.desc:hover:after { @include down; }
            &.asc:after        { @include down; }
            &.asc:hover:after  { @include up; }
        }
    }
}

.admin-paginate {
    font-size: 70%;
    float: right;

    .pagination {
        a, span, em {
            border-style: none;
            color: black;
        }
        em.current {
            background-color: #e9ecef;
        }
        .gap {
            line-height: 220%;
        }
        margin-bottom: 1em;
    }
}

.admin-page-info {
    font-size: 75%;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.admin-filter {
    margin-left: 1em;
    font-size: 70%;
    margin-bottom: 1em;
    opacity: 60%;
    .group {
        margin-right: 1.5em;
        display: inline-block;
        label {
            margin-right: 0.5em;
        }
    }

    .search {
        margin-left: 0px;
    }
}
