
div.dataTables_wrapper {
    font-size: 80%;

    div.dataTables_length select {
        // The default is 'width: auto' and it comes out too narrow for some reason
        width: 4em;
    }
}

table.dataTable {
    // Fix some image paths
    thead {
        .sorting      { background-image: image-url("datatables.net-dt/images/sort_both.png") ! important; }
        .sorting_asc  { background-image: image-url("datatables.net-dt/images/sort_asc.png" ) ! important; }
        .sorting_desc { background-image: image-url("datatables.net-dt/images/sort_desc.png") ! important; }
    }
}

.link {
    margin: 1em;
    font-size: 80%;
}

// Need this for the @extends below
@import "bootstrap/scss/bootstrap-grid";

.stats {
    margin-left: 1rem;
    .card {
        min-width: 7rem;
        display: inline-block;
        .card-body {
            .big {
                font-size: 120%;
                display: inline;
            }
            .medium {
                font-size: 90%;
                display: inline;
                margin-left: 0.8rem;
            }
            .label {
                font-size: 75%;
                color: #555;
                margin-top: -0.6em;
                color: #888;
                padding-left: 0.2em;
            }
            padding: 0.8rem 0.5rem 0.7rem 1.2rem;
        }

        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .card.big {
        min-width: 5rem;
        .card-body {
            .big {
                font-size: 220%;
            }
            .label {
                margin-top: -1.2em;
                padding-left: 0.5em;
                font-weight: bold;
                color: #999;
            }
        }
    }

}
