@import "bootstrap/scss/bootstrap";
@import "datatables.net-dt/css/jquery.dataTables";

div.dataTables_wrapper div.dataTables_length select {
    // The default is 'width: auto' and it comes out too narrow for some reason
    width: 4em;
}

// Fix some image paths
table.dataTable thead {
    .sorting      { background-image: image-url("datatables.net-dt/images/sort_both.png"); }
    .sorting_asc  { background-image: image-url("datatables.net-dt/images/sort_asc.png" ); }
    .sorting_desc { background-image: image-url("datatables.net-dt/images/sort_desc.png"); }
}

@import "sites";
@import "hub";

// Color (respectfully) stolen from TW...
// Todo: Review color scheme, branding etc
$nav_bg_color: #5778d8;

$contrast_color: #29AE4A;

.banner-message {
    font-size: 75%;
    padding: 0.15em 0.5em
}

.navbar {
    background-color: $nav_bg_color;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);

    .nav-item {
        font-weight: bold;
    }
}

// Fast snap the burger menu
.collapsing {
    transition-duration: 0.02s;
}

// Add a line and some space to burger menu
.navbar-collapse.show {
    margin-top: 1em;
    padding-top: 0.3em;
    border-top: 2px solid rgba(255,255,255,0.1);
}

// Remove burger button border
// (Fixme: It comes back when you click for some reason)
.navbar-dark {
    .navbar-toggler {
        border-style: none;
    }
}

.jumbotron {
    padding: 1.5em 1.5em 2em 1.5em;
    margin-top:1em;
}

.btn-primary {
    background-color: $contrast_color;
    border-color: $contrast_color;

    &:hover {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }

    // Fixme: Seems like this doesn't work.
    // I'm still see bootstrap blue when clicking.

    &:active {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }

    &:focus {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }

    &:focus:active {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }
}

.blurb p {
    font-size: 90%;
}

main {
    padding: 1em 1em;
}

footer {
    padding: 10em 1.2em 2em;
    font-size: 80%;
    opacity: 0.4;
    a {
        padding-left: 0.5em;
        font-weight: bold;
    }
}

h1 {
    color: #555;
}

.text-truncated {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

// Recycle the .page-link bootstrap class.
// FIXME: It doesn't work for active and inactive links.
.pagination {
    .previous_page,.next_page {
        @extend .page-link;
    }

    a,em {
        @extend .page-link;
    }

    em.current {
        @extend .page-link
    }
}
