@import "bootstrap/scss/bootstrap";

@import "sites";
@import "hub";
@import "admin";
@import "home";

// Color (respectfully) stolen from TW...
// Todo: Review color scheme, branding etc
$nav_bg_color: #5778d8;

$contrast_color: #29AE4A;

.banner-message {
    font-size: 75%;
    padding: 0.15em 0.5em
}

.navbar {
    background-color: $nav_bg_color;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);

    .nav-item {
        font-weight: bold;
        .dropdown-item-text {
            font-weight: normal;
        }
    }

    img.gravatar {
        border-radius: 50%;
    }

    .dropdown-toggle:after {
        margin-left: 0px;
        vertical-align: 0.18em;
    }
}


.dropdown-item {
    svg.bi {
        opacity: 60%;
        font-size: 90%;
    }
}

.navbar .dropdown-item {
    svg.bi {
        opacity: 50%;
    }
}
// Fast snap the burger menu
.collapsing {
    transition-duration: 0.02s;
}

// Add a line and some space to burger menu
.navbar-collapse.show {
    margin-top: 1em;
    padding-top: 0.3em;
    border-top: 2px solid rgba(255,255,255,0.1);
}

// Remove burger button border
// (Fixme: It comes back when you click for some reason)
.navbar-dark {
    .navbar-toggler {
        border-style: none;
    }

    .navbar-nav {
        .nav-link {
            color: #fff;
            opacity: 85%;
        }
    }
}

.jumbotron {
    /* gray-200 in boostrap */
    background-color: #e9ecef;
    border-radius: 0.3rem;
    padding: 1.5em 1.5em 2em 1.5em;
    margin-top:1em;
    line-height: 300%;

    h3 {
        margin-bottom: 0.5em;
    }

    span {
        display: inline-block;
        text-align: center;
        padding: 0.5em;
        margin-left: 0.3em;
    }
}

.btn-primary {
    background-color: $contrast_color;
    border-color: $contrast_color;

    &:hover {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }

    // Fixme: Seems like this doesn't work.
    // I'm still see bootstrap blue when clicking.

    &:active {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }

    &:focus {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }

    &:focus:active {
        background-color: $contrast_color;
        border-color: $contrast_color;
    }
}

.blurb {
    margin-top: 1em;
    p {
        font-size: 90%;
    }
}

main {
    padding: 1em 1em;
}

footer {
    padding: 10em 1.2em 2em;
    font-size: 80%;
    opacity: 0.4;
    a {
        padding-left: 0.5em;
        font-weight: bold;
        text-decoration: none;
    }
}

h1 {
    color: #555;
}

.text-truncated {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

// Recycle the .page-link bootstrap class.
// FIXME: It doesn't work for active and inactive links.
.pagination {
    .previous_page,.next_page {
        @extend .page-link;
    }

    a,em {
        @extend .page-link;
    }

    em.current {
        @extend .page-link
    }
}

body.simple-layout {
    margin: 2em 2.5em;

    header {
        nav {
            box-shadow: none;
            height: 1.8em;
            flex-wrap: nowrap;
            margin-bottom: 0.5em;
        }

        img {
            height: 18px;
            opacity: 80%;
        }

        span {
            font-size: 90%;
            margin-left:0.25em;
        }
    }

    main {
        h1 {
            margin-bottom: 0.5em;
        }

        .big {
            font-size: 130%;
        }
    }
}
