
h1 {
    svg.bi {
        color: #bbb;
        font-size: 65%;
    }

    .gravatar {
        border-radius: 5px;
        margin-right: 0.2em;
        margin-top: -6px;
    }
}

.nav-link {
    svg.bi {
        font-size: 75%;
    }
}

.hub {
    margin-bottom: 2em;

    .site {
        vertical-align: top;
        display: inline-block;
        width: 16em;
        margin: 0em 1em 1.5em 1em;
        .description {
            margin-left: 0.5em;
            font-size: 85%;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #555;
        }

        .name {
            a {
                overflow: hidden;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
            }
        }

        .owner {
            font-size: 80%;
            margin-left: 0.5em;
            color: #555;

            span.views {
                margin-left: 0.1em;
                color: #999;
                font-size: 70%;
            }

            svg.bi {
                color: #aaa;
            }

            .gravatar {
                margin-top: -2px;
                border-radius: 50%;
            }
        }

        .site-tags {
            margin-left: 0.4em;
            margin-top: 2px;
            font-size: 90%;
        }
    }
}

.page_info {
    margin-bottom: 2em;
    font-size: 80%;

    .sort-by {
        margin-left: 2em;

        .dropdown-toggle {
            color: #6c757d;
        }

        .dropdown-menu {
            font-size: 95%;

            .dropdown-item {
                padding: 0.5em 2em;
            }
        }
    }

}

.search {
    margin-left: 2em;

    input {
        border: 1px solid #eee;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #ccc;
        }
    }

    button {
        font-size: 80%;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        color: #6c757d;
    }

    a {
        font-size: 80%;
        color: #6c757d;
    }
}

.site-tags {
    line-height: 80%;

    a {
        background-color: #fea;
        color: #974;
        font-size: 65%;
        padding: 0.1em 0.3em;
        margin-right:0.4em;

        &:hover {
            text-decoration: none;
            background-color: #fd6;
            color: #841;
        }
    }

}
