
h1 {
    svg.bi {
        color: #bbb;
        font-size: 65%;
    }
}

.nav-link {
    svg.bi {
        font-size: 75%;
    }
}

.hub {
    margin-bottom: 2em;

    .site {
        vertical-align: top;
        display: inline-block;
        width: 16em;
        margin: 0em 1em 1.5em 1em;
        .description {
            margin-left: 0.5em;
            font-size: 85%;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #555;
        }

        .owner {
            font-size: 80%;
            margin-left: 0.5em;
            color: #555;
            span {
                color: #999;
                font-size: 90%;
            }

            .gravatar {
                border-radius: 2px;
            }
        }

        .site-tags {
            margin-left: 0.4em;
            font-size: 90%;
        }
    }
}

.page_info {
    margin-bottom: 2em;
    font-size: 80%;

    .sort-by {
        margin-left: 2em;

        .dropdown-toggle {
            color: #6c757d;
        }

        .dropdown-menu {
            font-size: 95%;

            .dropdown-item {
                padding: 0.5em 2em;
            }
        }
    }

    .search {
        margin-left: 2em;

        input {
            border: 1px solid #eee;
            border-radius: 4px;
        }

        button {
            font-size: 80%;
            margin-left: 0px;
            padding-left: 0px;
            margin-right: 0px;
            padding-right: 0px;
            color: #6c757d;
        }

        a {
            font-size: 80%;
            color: #6c757d;
        }
    }
}

.site-tags {
    line-height: 80%;

    span, a {
        border-radius: 1em;
        background-color: #fd6;
        color: #841;
        font-size: 65%;
        padding: 0.2em 0.4em;
        margin-right:0.2em;
    }
}
