
h1 {
    svg.bi {
        opacity: 25%;
        font-size: 65%;
    }

    .gravatar {
        border-radius: 5px;
        margin-right: 0.2em;
        margin-top: -6px;
    }
}

.nav-tabs .nav-link.active {
    background: linear-gradient(#ffffff, #ffffff, #ffffff, #f8f9fa);
    border-bottom-color: #f8f9fa; /* bootstrap bg-light */
}

.nav-link {
    svg.bi {
        opacity: 35%;
        font-size: 75%;
    }
}

.hub {
    margin-bottom: 2em;
    padding-right: 0;
    margin-right: 0;

    .site {
        vertical-align: top;
        display: inline-block;
        width: 14em;
        margin: 0em 2em 4.5em 0.5em;

        .description {
            margin-left: 0.25em;
            font-size: 85%;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #555;
        }

        a {
            text-decoration: none;
        }

        .name {
            padding-left: 0.25em;
            a {
                overflow: hidden;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 110%;
                font-weight: bold;
                color: var(--bs-gray-600);
            }
        }

        .thumb-container {
            margin: 0.25em 0;

            img {
                width: 95%;
                border: 1px solid #ddd;
            }
        }

        .owner {
            font-size: 75%;
            margin-top: 0.5em;
            margin-left: 0.25em;
            color: #555;

            span.views {
                margin-left: 0.1em;
                color: #999;
                font-size: 70%;
            }

            svg.bi {
                opacity: 30%;
            }

            .gravatar {
                margin-top: -2px;
                border-radius: 50%;
            }
        }

        .site-tags {
            margin-left: 0.4em;
            margin: 2px;
            font-size: 90%;

            display: -webkit-box;
            -webkit-line-clamp: 5; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

.page_info {
    margin-bottom: 2em;
    font-size: 80%;

    .sort-by {
        margin-left: 2em;

        a {
            text-decoration: none;
        }

        .dropdown-toggle {
            color: #6c757d;
        }

        .dropdown-menu {
            font-size: 95%;

            .dropdown-item {
                padding: 0.5em 2em;
            }
        }
    }

}

.search {
    margin-left: 2em;

    input {
        border: 1px solid #eee;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #ccc;
        }
    }

    button {
        font-size: 80%;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        color: #6c757d;
    }

    a {
        font-size: 80%;
        color: #6c757d;
    }
}

.site-tags {
    line-height: 90%;

    a {
        text-decoration: none;
        background-color: #fea;
        color: #974;
        font-size: 65%;
        padding: 0.1em 0.3em;
        margin-right:0.1em;

        &:hover {
            text-decoration: none;
            background-color: #fd6;
            color: #841;
        }
    }

}
