
table.sites {
    margin-bottom: 1.5em;

    td {
        padding: 0.5em 2.5em 1em 0.5em;
        vertical-align: top;

        .description {
            margin-left: 0.5em;
            font-size: 75%;
            max-width: 24em;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #555;
        }

        .site-tags {
            margin-left: 0.3em;
            font-size: 90%;
        }

        .site-access {
            font-size: 90%;
        }

        .btn {
            // Slightly smaller "Actions" menu button
            line-height: 1.2em;
        }

        .btn-secondary {
            // Slightly less dark (I'm lazy)
            opacity: 0.8;
        }

    }
}

.create-button {
    margin-left: 1em;
}

.upload-form {
    p {
        // For the warning about replacing your site entirely
        margin-top: 1.5em;
        font-size: 90%;
    }

    .warning {
        color: #d86f57;
        font-weight: bold;
    }

    form {
        margin-top: 1em;
        display: inline-block;
    }

    label {
        // Try to make it line up neatly
        margin-top: 8px;
    }
}
