
.hub-link {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1.2em;
    font-size: 75%;

    a {
        text-decoration: none;
    }
}

.summary-info {
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 85%;
}

table.sites {
    margin-bottom: 1.5em;

    th {
        vertical-align: top;
        font-size: 80%;
        line-height: 80%;
        small {
            color: #999;
        }
        padding-bottom: 1.5em;
    }

    td {
        padding: 0.5em 2.5em 1em 0.5em;
        vertical-align: top;

        .description {
            margin-left: 0.5em;
            font-size: 75%;
            max-width: 24em;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #555;
        }

        .site-tags {
            margin-left: 0.3em;
            font-size: 90%;
        }

        .site-access {
            font-size: 90%;
        }

        .btn {
            // Slightly smaller "Actions" menu button
            line-height: 1.2em;
        }

        .btn-secondary {
            // Slightly less dark (I'm lazy)
            opacity: 0.8;
        }

        .sitelink {
            white-space: nowrap;

            // Show a favicon
            img {
              width: 0.8rem;
              height: 0.8rem;
              margin-right: 0.2rem;
              margin-top: -2px;
              border-radius: 2px;
            }

            a {
                text-decoration: none;
            }
        }

        .dropdown-item {
            svg.bi {
                padding-right: 0.4em;
            }
        }

    }
}

.compressed-indicator {
    vertical-align: middle;
    font-size: 60%;
    color: #777;
}

.admin .compressed-indicator {
    font-size: 80%;
    color: #444;
}

.clear-left {
    clear: left;
}
