
=render layout: 'form_wrapper', locals: { heading: 'Manage subscription' } do

  .p-2
    %big
      You are currently subscribed to the <b>Tiddlyhost #{@subscription_info.name} Plan</b>.

  .d-flex.m-2.mx-lg-5.justify-content-center.flex-column.flex-md-row.text-center
    =render 'pricing_card', plan: @subscription_info.name.downcase.to_sym, show_billing_portal_link: true

  -# A link to Stripe's billing portal
  .row.row-cols-1.m-4.mt-1.text-center
    %big.w-100
      =link_to @portal_session.url do
        View billing details or cancel
        =bi_icon('box-arrow-up-right', width: "0.9em", height: "0.9em", style: "margin-left: 0.5em;")

  .row.row-cols-1.m-4.mt-1.text-center
    %big.w-100
      =link_to "Review subscription options", '/subscription/plans'
