%table.table.table-sm.m-4{ style: "font-size: 85%; width: 90%;" }
  %tbody
    %tr
      %td.fw-bold.small.text-muted{ style: "width: 8em;" } Name
      %td.pe-3
        %tt= name
    %tr
      %td.fw-bold.small.text-muted Type
      %td.pe-3= type
    %tr
      %td.fw-bold.small.text-muted Value
      %td.pe-3
        %tt= value
