
-# Not used currently

%p
  Your Tiddlyhost subscription trial period has ended.

%p
  This is a friendly reminder that your Tiddlyhost trial has ended.

%p
  To continue your subscription click the link below and choose a subscription option.

= render "devise/mailer/button_link", link_text: "Manage your subscription", link_url: "#{root_url}subscription"

= render 'show_email'
