# SSL certs
ssl_certificate /etc/letsencrypt/live/{{ primary_host }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ primary_host }}/privkey.pem;

server {
  # Redirect all http requests to https for Tiddlyhost
  listen 80;
  server_name {{ primary_host }} *.{{ primary_host }};
  return 301 https://$host$request_uri;
}

{% if tiddlyspot_host is defined and tiddlyspot_host -%}
server {
  # For Tiddlyspot accept both http and https
  # (Required since site names with dots can't use the cert)
  listen 80;
  listen 443 ssl;
  server_name {{ tiddlyspot_host }} *.{{ tiddlyspot_host }};
  include conf.d/commonconf;
}

{% endif -%}

server {
  # Tiddlyhost via https
  listen 443 ssl;
  server_name {{ primary_host }} *.{{ primary_host }};
  include conf.d/commonconf;
}
