#
# Builds the Tiddlyhost container image and pushes it.
# Also runs the test suite using the base container image.
#
name: Build

on:
  workflow_dispatch:

env:
  USER_ID: 1000

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          show-progress: false
          fetch-depth: 0

      - name: Build base image
        run: make fast-build-base

      - name: Setup rails
        run: make rails-init-ci

      - name: Run tests
        run: make test-ci

        # NB: This build is experimental and not prod ready since it will be missing
        # some core js files, and a few other things needed for production. (See the
        # differences between `make build-prod` and `make build-prod-ci` in the Makefile.)
        # Since the build is experimental and not prod-ready, don't push it to :latest.
      - name: Build main image
        run: make build-prod-ci

      - name: Push image to docker hub
        run: |
          echo ${{ secrets.DOCKER_PUSH_TOKEN }} | docker login --username ${{ secrets.DOCKER_PUSH_USER }} --password-stdin
          docker tag ${{ vars.DOCKER_PUSH_REPO }}:latest ${{ vars.DOCKER_PUSH_REPO }}:ci-test-build
          docker push ${{ vars.DOCKER_PUSH_REPO }}:ci-test-build
