#
# Sets up ruby and dependencies directly on the ubuntu-latest
# image and then runs the test suite
#
name: Test
on:
  pull_request:
    branches:
    - main
    - devel
  workflow_dispatch:

jobs:
  run-tests:
    name: Run test suite
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: rails

    services:
      postgres:
        image: postgres:16
        ports:
        - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          show-progress: false

      - name: Install ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          working-directory: rails
          ruby-version: '3.4.8'
          bundler-cache: true

      - name: Install node modules
        run: bin/rails yarn:install

      - name: Create database
        run: bin/rails db:create

      # Not strictly needed, because they'll be generated on demand
      # automatically, but this makes the test output slightly tidier
      - name: Precompile email styles
        run: bin/rails bootstrap_email:sass_precompile

      - name: Run tests
        env:
          GROVER_NO_SANDBOX: true
        run: bin/rails test
